.App{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.editor-card{
    grid-row: 1 / 2;
}

.preview-card{
    grid-row: 1 / 2;
    overflow-y: scroll !important;
}

.menu-navigations{
    grid-row: 1 / 2;
    padding: 4px;
    display: grid;
    grid-template-columns: auto auto auto 1fr;
}

.menu-navigations .savename{
    margin: 0 8px;
    grid-column: 2 / 4;
}

.MenuButton {
    padding: 5px 8px !important;
    min-width: unset !important;
    border: solid 1px transparent !important;
}

.main-menu{
    grid-column: 1 / 2;
    margin-right: 8px;
}

.edit-button{
    margin-right: 8px;
    grid-column: 2 / 3;
}

.help-button{
    /* margin-right: 8px; */
    grid-column: 3 / 4;
}

.logout-button{
    grid-column: 5 / 6;
}

.editor-preview{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: auto auto 1fr 8px 1fr;
    overflow: hidden;
}

.menu{
    grid-column: 1 / 2;
    width: 48px;
}

.menu-subpanel{
    width: 274px;
    transition: .4s;
}

.menu-subpanel-area{
    margin-right: 8px;
    display: grid;
    grid-template-rows: 32px 1fr;
}

.file{
    user-select: none;
    width: 40px;
    height: 40px;
    margin: 0 4px 4px 4px;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
    font-family: Segoe MDL2 Assets;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}

.file:hover{
    background-color: var(--colorNeutralBackground1Hover);
}

.editor{
    grid-column: 3 / 4;
    display: grid;
}

.markdown-preview{
    grid-column: 5 / 6;
    display: grid;
    overflow-y: auto;
}

.file-icon-list-name{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.file-icon-fill{
    font-family: Segoe MDL2 Assets;
    margin-right: 8px;
    font-size: 18px;
    display: inline-block;
    padding-top: 6px;
    user-select: none;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.file-icon-list-name.dir-icon .file-icon-fill{
    color: #FEE082;
}

.file-icon{
    font-family: Segoe MDL2 Assets;
    margin-right: 8px;
    font-size: 18px;
    display: inline-block;
    padding-top: 6px;
    user-select: none;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.file-icon-list-name.dir-icon .file-icon{
    color: #AC7E00;
}

.file-list-name{
    line-height: 32px;
    display: inline-block;
    vertical-align: top;
    user-select: none;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.input-new-filename{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
}